node_modules

# output
out
dist
packages/**/src/**/*.js
packages/**/src/**/*.d.ts
**/node_modules

# dotenv environment variable files
.env
.cache
*.tsbuildinfo

# Finder (MacOS) folder config
.DS_Store
